# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
venv/
env/
ENV/
.env

# VSCode & IDEs
.vscode/
.idea/

# Log files
*.log

# macOS
.DS_Store

# uv (Rust-based Python package manager)
.uv/
.uv-cache/

# Docker
*.tar
*.img
*.bak
*.pid
docker-compose.override.yml
docker-compose.*.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars
terraform.tfvars.json
plan.tfplan

# Build / dist
build/
dist/
*.egg-info/
.eggs/

# Misc
*.sqlite3
*.db
coverage/
htmlcov/
.cache/
.mypy_cache/
.pytest_cache/
.coverage